
ul{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items:center;
  background-color: rgba(0, 191, 255, 0.119);
  margin-left: 50%;
  translate: -50%;
  list-style-type: none;
  width: 800px;
  border: 1px solid #0000003c;
  border-radius: 15px;
  padding: 10px;
  height: 450px;
  overflow:scroll;

}
ul li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  border: 1px solid #00000023;
  border-radius: 10px;
  padding: 2%;
  background-color:rgb(255, 255, 255);
  text-align: left;
  margin: 10px;
}
ul li button{
  background-color: rgb(255, 93, 93);
}
button
{
  padding: 10px;
  width: 100px;
  height: 40px;
  background-color: rgb(93, 206, 255);
  border-radius: 10px;
  border: 0px solid #00000023;
  color: rgb(255, 255, 255);
  font-size: medium;
  font-weight: bolder;
  
}

